 
 <div id="postMainContainer">
  <h1 class="postHeader">Blog</h1>
    {{#each posts}}  
        <div class="postContainer">
          <a href="blog/{{title}}">
            <div class="postPhoto_small">
              <img alt="{{title}} photo" src="{{image}}" height="96" width="96"/> 
            </div>
            <div class="postInnerContainer">
              <h3 class="postTitle">{{title}}</h3>
              <p class="postDescription">{{description}}</p>
            </div>
          </a>
        </div>
    {{/each}}
</div>
  