<div id="wrapper">
  <div id="contentMainContainer">
    <h1 class="contentHeader">Blog</h1>
      {{#each posts}}  
          <a href="/blog/{{title}}">
            <div class="contentContainer">
              <span class="contentTitle">
                  <h3>{{title}}</h3>
              </span>
              <div class="contentPhoto">
                <img alt="{{title}} photo" src="/img/{{image}}" height="96" width="96"/> 
              </div>
              <div class="contentInnerContainer">
                <span class="contentDescription"> 
                  <p>{{{description}}}</p>
                </span>
              </div>
            </div>
          </a>
      {{/each}}
  </div>
</div>
