<div id="wrapper">
  <div id="contentMainContainer">
    <h1 class="contentHeader">Portfolio</h1>
      {{#each projects}}  
            <div class="contentContainer">
              <div class="contentPhoto">
                <span class="foto">
                  <img src="/img/{{image}}" alt="{{title}} photo" height="96" width="96"/> 
                </span>
              </div>
              <span class="contentTitle">
                <a href="{{url}}" target="_blank">
                  <h2>{{title}}</h2>
                </a>
              </span>
              <div class="contentInnerContainer">
                <p>{{{description}}}</p>
              </div>
            </div>
      {{/each}}
  </div>
</div>

