<div class="wrapper">
  <div id="contentMainContainer">
    <h1 class="contentHeader">Portfolio</h1>
      {{#each projects}}  
          <a href="{{url}}" >
            <div class="contentContainer">
              <span class="contentTitle">
                  <h3>{{title}}</h3>
              </span>
              <div class="contentPhoto">
                <img alt="{{title}} photo" src="./../../public/img/{{image}}" height="96" width="96"/> 
              </div>
              <div class="contentInnerContainer">
                <span class="contentDescription"> 
                  <p>{{description}}</p>
                </span>
              </div>
            </div>
          </a>
      {{/each}}
  </div>
</div>


{{!-- PROJECTS - http://trailrpark.herokuapp.com/#/trail/147 --}}