<div id="portfolioMainContainer">
  <h1 class="portfolioHeader">Portfolio</h1>
    {{#each projects}}  
        <div class="projectContainer">
          <a href="projects/{{title}}">
            <div class="projectPhoto">
              <img alt="{{title}} photo" src="{{image}}" height="96" width="96"/> 
            </div>
            <div class="projectInnerContainer">
              <h3 class="projectTitle">{{title}}</h3>
              <p class="projectDescription">{{description}}</p>
            </div>
          </a>
        </div>
    {{/each}}
</div>