<div class="wrapper">
    <div id="contentMainContainer">
      <h1 class="contentHeader">{{title}}</h1>
      <div class="singleContentContainer">
        <div class="post_Photo_large">
          <img alt="{{title}} photo" src="/img/{{image}}" height="96" width="96"/> 
        </div>
        <div class="post_title_description">
          <p>{{{description}}}</p>
        </div>
        <div class="post_Container">
          <div class="post_InnerContainer">
            <p class="post_Description">{{{body}}}</p>
          </div>
        </div>
      </div>
    </div>
</div>
  