<div class="wrapper">
    <div id="contentMainContainer">
      <h1 class="contentHeader">{{title}}</h1>
      <div class="singleContentContainer">
        <div class="toy_problem_Photo_large">
          <img alt="{{title}} photo" src="{{image}}" height="96" width="96"/> 
        </div>
        <div class="toy_problem_title_description">
          <p>{{description}}</p>
        </div>
        <div class="toy_problem_Container">
          <div class="toy_problem_InnerContainer">
            <p class="toy_problem_Description">{{body}}</p>
          </div>
        </div>
      </div>
    </div>
</div>
  