{{!-- <div class='tpWidget'>
  {{#each partials.toyProblemContext.problems}}
    <div class="problemListing">
      <h3>{{toy_problem_title}}</h3>
      {{!-- <a href="{{toy_problem_title}}" --}}
     {{!--  <p>Discription: {{toy_problem_description}}</p>
      <p>{{toy_problem_body}}</p>
    </div>
</div> --}}


{{debug}}
  <div id="toyProblemWidget">
    <div class="toy_problem_Photo_large">
      <img alt="{{title}} photo" src="{{image}}" height="96" width="96"/> 
    </div>
    <div class="toy_problem_title_description">
      <h1 class="toyProblemHeader">{{title}}</h1>
      <p>{{description}}</p>
    </div>
    <div class="toy_problem_Container">
          <div class="toy_problem_InnerContainer">
            <p class="toy_problem_Description">{{body}}</p>
          </div>
    </div>
  </div>

